---
import Layout from "../layout/Layout.astro";
const name ="Jon";
//console.log(name);
---

<Layout title="Firt Astro Website" description="bienvenidos a mi astro website">
	<h1 class="text-violet-700">Astro - Welcome {name}</h1>
	<h2 slot="footer">Esto es el footer</h2>
</Layout>

